<div class="font-sans">
  <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"><%= link_to article.title, article %></h1>
  <p class="text-sm md:text-base font-normal text-gray-600">
    <%= format_date article.date %>
    <% if article.tags %>
      | Tags:
      <% for tag in article.tags %>
        <a href="/tags/#<%= tag %>"><%= tag %></a>
      <% end %>
    <% end %>

  </p>
</div>

<%= article.body %>
