<div class="font-sans mb-8">
  <h1><%= link_to article.title, article %></h1>
  <p class="text-sm md:text-base font-normal text-gray-600">
    <%= format_date article.date %>
    <% if article.tags %>
      | Tags:
      <% for tag in article.tags %>
        <a href="/tags/#<%= tag %>"><%= tag %></a>
      <% end %>
    <% end %>
  </p>

  <% if defined?(summary) %>
  <%= article.summary(500) %>
  <p><a><%= link_to "&raquo; Read more...", article %></a></p>
  <% else %>
  <%= article.body %>
  <% end %>
</div>
