---
layout: page
title: Archives by Tag
---
<% site_tags = collections.posts.resources.map{|e|e.data['tags'] || []}.flatten.uniq.sort %>
<div class="article">
  <div class="meta">
  <% for tag in site_tags %>
  <a href="#<%= tag %>"><%= tag %></a> &nbsp;
  <% end %>
  </div>
</div>

<div id="articles">
  <table>
    <% last_tag = nil%>
    <% for tag in site_tags %>
      <% for entry in collections.posts.resources %>
        <% next unless (entry.data['tags']||[]).include? tag %>

        <tr>
          <% if last_tag != tag %>
            <% last_tag = tag %>
            <th class="border-t border-l text-left px-4 py-2">
            <a name="<%= tag %>" class="anchor"></a>
            <%= tag %>
            </th>
          <% else %>
            <th class="border-l">&nbsp;</td>
          <% end %>

          <td class="border px-4 py-2"><%= entry.date.strftime('%Y %b %e') %></td>
          <td class="border px-4 py-2"><a href="<%= entry.relative_url %>"><%= entry.data['title'] %></a></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
