---
pageable: true
per_page: 6
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div id="articles">
  <% page_articles.each_with_index do |article, i| %>
    <div class="article hentry">
      <h3 class="entry-title"><%= link_to article.title, article %></a></h3>
      <div class="meta">
        <span class="date"><%= format_date article.date %></span>
        <% if article.tags %>
          | Tags:
          <% for tag in article.tags %>
            <a href="/tags/#<%= tag %>"><%= tag %></a>
          <% end %>
        <% end %>
      </div>
      <div class="entry-content"><%= article.body %></div>
    </div>
    <hr/>

    <% if page_articles.size == 1 %>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/tracefunc/embed.js"></script>
      <noscript>
        <a href="http://tracefunc.disqus.com/?url=ref">View the discussion thread</a>
      </noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <% end %>
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
