<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>set_trace_func<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/index.xml", title: "Atom Feed" %>

    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type='text/javascript' src="/assets/js/prettify.js"></script>
    <script type='text/javascript' src="/assets/js/blog.js"></script>

  </head>
  <body>

    <div id="main" role="main" class="container">
      <div class='span-20 last' id='header'>

        <h1>
          <a href='/'>set_trace_func</a>
        </h1>
        <h2>veni, vidi, didici</h2>
      </div>
      <div class='span-20 last' id='menu'>
        <div id='feedburner'>
          <a href='http://feeds.feedburner.com/set_trace_func'><img alt='RSS Feed' src='http://feeds.feedburner.com/~fc/set_trace_func?bg=0099ff&amp;fg=000000&amp;anim=0' /></a>
        </div>
        <ul style='float: right;'>
          <li><a>&#8203;</a></li>
          <li><a href='/about/'>About Me</a></li>
        </ul>
        <ul>
          <li><a href='/archive/'>Archive</a></li>
          <li><a href='/tags/'>Tags</a></li>
          <li><a href='/projects/'>Projects</a></li>
        </ul>
      </div>

      <div id="content-wrap">
        <div class='span-18' id='content'>
          <%= yield %>
        </div>
      </div>

      <div class='span-20 last' id='footer'>
        <p>
          &copy; <span class="author vcard"><span class="fn">Jamie Macey</span></span>
          | Original design: <a href="http://www.styleshout.com/templates/preview/CoolWater1-0/index.html">CoolWater</a> by <a href="http://www.styleshout.com/">styleshout</a>
          | powered by <a href="https://middlemanapp.com/">middleman</a>
        </p>
      </div>
    </div>

    <aside>
      <h2>Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside>

    <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
        var pageTracker = _gat._getTracker("UA-11614297-1");
        pageTracker._setDomainName(".tracefunc.com");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
