---
title: Archives by Tag
---

<div class="article">
  <div class="meta">
  <% for tag in blog.articles.map{|e|e.tags || []}.flatten.uniq.sort %>
  <a href="#<%= tag %>"><%= tag %></a> &nbsp;
  <% end %>
  </div>
</div>

<div id="articles">
  <table>
    <% for tag in blog.articles.map{|e|e.tags || []}.flatten.uniq.sort %>
      <tr><th><%= tag %></th><th><a name="<%= tag %>" class="anchor">&nbsp;</th></tr>
      <% for entry in blog.articles %>
        <% next unless (entry.tags||[]).include? tag %>
        <tr><td><%= entry.date.strftime('%Y %b %e') %></td>
            <td><%= link_to entry.title, entry %></td></tr>
      <% end %>
    <% end %>
  </table>
</div>
