<article>
  <h2><a href="{{ post.relative_url }}">{{ post.title }}</a></h2>
  <blockquote>
    {{ post.date | date_to_string:"ordinal" }}
    {% if post.tags.size > 0 %}
      | Tags:
      {% for tag in post.tags %}<a href="/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}
    {% endif %}
  </blockquote>

  {% if excerpt %}
    {{ post.summary }}
  <p><a href="{{ post.relative_url }}">&raquo; Read more...</a></p>
  {% else %}
    {{ post.content }}
  {% endif %}
</article>
